VITE_API_URL=http://localhost:5000/api
VITE_SITE_URL=http://localhost:5173
VITE_ADSENSE_CLIENT=ca-pub-xxxxxxxxxxxxxxxx
VITE_FREE_PRODUCTS_API=https://dummyjson.com/products
VITE_FREE_POSTS_API=https://dummyjson.com/posts
